/* src/components/Reviews/Reviews.module.css */
.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewerInfo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  background-color: var(--color-badges);
  color: var(--color-button);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}

.nameGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewerName {
  font-weight: 600;
}

.comment {
  color: var(--color-text);
  line-height: 24px;
}