.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--color-badges);
  border-top: 5px solid var(--color-button); /* Red accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.text {
  font-weight: var(--fw-body2);
  color: var(--color-text);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(3600deg); } /* Hızlı ve akıcı döngü */
}