/* src/components/Header/Header.module.css */

.header {
  width: 100%;
  background-color: var(--color-inputs);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid var(--color-badges);
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  min-height: 72px;
  padding: 24px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logoSection {
  flex: none;
  display: flex;
  align-items: center;
}

.logoSvg {
  width: 136px;
  height: 16px;
  fill: var(--color-main);
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navLink {
  font-weight: var(--fw-body2); /* 500 */
  font-size: var(--fs-body2);   /* 16px */
  line-height: var(--lh-body2); /* 24px */
  color: var(--color-main);
  text-decoration: none;
  transition: color 0.3s ease;
}

.active {
  color: var(--color-button-hover);
}

.navLink:hover {
  color: var(--color-button-hover);
}

.spacer {
  width: 136px;
}

@media (max-width: 768px) {
  .spacer {
    display: none;
  }
}