/* src/components/BookingForm/BookingForm.module.css */

.formCard {
  width: 448px;
  border: 1px solid var(--color-gray-light);
  padding: 44px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
}

.titleGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.submitBtn {
  margin-top: 10px;
  align-self: center;
}