.featuresWrapper {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.badgeList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.vehicleDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tableTitle {
  font-size: var(--fs-h3);
  font-weight: var(--fw-h3);
  color: var(--color-main);
  border-bottom: 1px solid var(--color-gray-light);
  padding-bottom: 24px;
}

.detailTable {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-body2);
  font-weight: var(--fw-body2);
  color: var(--color-main);
}

.tableRow span:first-child {
  /* Sol taraf (etiketler) */
  text-transform: capitalize;
}

.tableRow span:last-child {
  /* Sağ taraf (değerler) */
  text-align: right;
}