/* src/components/Features/Features.module.css */

.featuresWrapper {
  display: flex;
  flex-direction: column;
  gap: 44px; /* Rozetler ve Tablo arasındaki geniş boşluk */
}

.badgeList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.vehicleDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tableTitle {
  /* Font özellikleri global h3'ten miras alınır */
  color: var(--color-main);
  border-bottom: 1px solid var(--color-gray-light);
  padding-bottom: 24px;
  margin-bottom: 0;
}

.detailTable {
  display: flex;
  flex-direction: column;
  gap: 14px; /* Satırlar arası dikey boşluk */
}

.tableRow {
  display: flex;
  justify-content: space-between;
  /* Font özellikleri global Body2 sınıfından gelir */
  color: var(--color-main);
}

.tableRow span:first-child {
  /* Sol sütun etiketleri */
  text-transform: capitalize;
}

.tableRow span:last-child {
  /* Sağ sütun değerleri */
  text-align: right;
}