/* src/pages/HomePage/HomePage.module.css */

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  min-height: calc(100vh - 73px);
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  flex: 1;
  min-height: calc(768px - 72px);
  
  /* Background Settings */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                    url("../../assets/images/hero-image@1x.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

/* Retina Support (2x Görsel) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                      url("../../assets/images/hero-image@2x.jpg");
  }
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 571px;
  min-height: 80px;
}

.title {
  color: var(--color-white);
  min-width: 571px;
  min-height: 32px;
  margin: 0;
  padding: 0;
}

.subtitle {
  color: var(--color-white);
  min-width: 550px;
  min-height: 32px;
}

.heroBtn {
  width: 173px;
  min-height: 56px;
}